<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Img/logo-vertical-blanco-connect.png" type="image/png">
    <link rel="stylesheet" href="css/styles.css">
    <title>UFPSOConnect - Register</title>
</head>
<body>

    <section>
        <div class="principal">
            <nav>
               <img src="Img/logo-alone.png" alt="UFPSO Icon">
               <h1>CONNECT</h1>
               <div class="navbar-section">
                   <a href="" class="login-button active">Login</a>
                   <a href="register" class="register-button">Register</a>
               </div>
            </nav>
            <style type="text/css">
                h2 {font-size: 55px;}
                
            </style>

            <div class="content">
                
                <h2>Sign in</h2>
                <p>If you don't have an account yet, enter your academic and personal information to create one.</p>
                <div class="data-content">
                    <!-- FORM CONTENT   z -->
                    <form action="/login" method="POST">

                        <div class="form">
                            <% if (messages.error) { %>
                                <div class="alert alert-danger">
                                    <strong><%= messages.error %></strong>
                                </div>
                             <% } %>
                            <input type="email" name="email" class="item5" placeholder="Institutional Email:">
                            <div class="form-group2">
                                <input type="password" name="password" class="item4" placeholder="Password:">
                                <!-- <label for="" class="form-label">Password</label> -->
                            </div>
                            <div class="form-group2">
                                <input type="number" name="code" class="item3" placeholder="Code:">
                                <!-- <label for="" class="form-label">Code</label> -->
                            </div>
                            
                        </div>
                        <button type="submit"> Login to account</button>
                    </form>

                </div>
            </div>
            <!-- UFPSO image footer  -->
            <footer>
                <img src="Img/logo-vertical-blanco-connect-new.png" alt="">
            </footer>
            
        </div>
        
    </section>
    
</body>
</html>